/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

/*-------------------------  ------------------------- */
/*------------------------- general ------------------------- */
body { position: relative; font-size: 14px; line-height: 1.4; font-family: "Roboto", sans-serif !important; background: #f0eee8 !important; }

.out { padding-top: 9px; position: relative; }

.out__in { position: relative; z-index: 2; }

.bg { width: 100%; height: 845px; position: absolute; top: 0; left: 0; right: 0; background: url(../img/icons/bg.png) #f0eee8; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: "Roboto", sans-serif !important; }

.h2 { font-size: 24px; font-weight: 100; color: #434343; }

.wrap { padding: 20px 25px; margin-bottom: 19px; border-top: 6px solid #5299f4; background: white; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; color: #434343; *zoom: 1; }
.wrap:after { content: " "; display: table; clear: both; }
.wrap .h2 { font-weight: 100; font-size: 22px; color: #434343; margin: 0 0 15px; }

.wrap_mod { border-top: none; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; }

.wrap__bottom { *zoom: 1; }
.wrap__bottom:after { content: " "; display: table; clear: both; }
.wrap__bottom .wrap__rating { float: left; }
.wrap__bottom .wrap__more { float: right; }

.wrap_slider { height: 510px; padding: 0; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
@media only screen and (max-width: 500px) { .wrap_slider { height: auto; } }
@media only screen and (max-width: 450px) { .wrap_slider { height: auto; } }
@media only screen and (max-width: 380px) { .wrap_slider { height: auto; } }
@media only screen and (max-width: 600px) { .wrap_slider { height: auto; } }
@media only screen and (max-width: 767px) { .wrap_slider { height: auto; } }
@media (min-width: 768px) { .wrap_slider { height: auto; } }
.wrap_slider .col-md-8, .wrap_slider .col-md-4 { padding: 0; }

.wrap__more { color: #dea907; font-weight: 800; }
.wrap__more:hover { color: #dea907; }

/*------------------------- header & topper------------------------- */
.rating-wrap p { display: inline-block; }
.rating-wrap .rating { display: inline-block; }

.header-wrap__in { background: white; }

.topper .topper__in { margin: 0; background: #5299f4; color: white; -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -ms-border-radius: 3px 3px 0 0; -o-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; }
.topper .h3 { font-weight: 400; font-size: 22px; }

.header .header__in { padding: 15px 0; margin: 0 0 16px; background: white; -webkit-border-radius: 0px 0px 3px 3px; -moz-border-radius: 0px 0px 3px 3px; -ms-border-radius: 0px 0px 3px 3px; -o-border-radius: 0px 0px 3px 3px; border-radius: 0px 0px 3px 3px; }

/*------------------------- footer ------------------------- */
.footer { background: white; position: relative; z-index: 666; }
.footer .logo { float: left; position: absolute; top: 15px; left: 15px; }
@media only screen and (max-width: 380px) { .footer .logo { float: none; display: block; position: static; margin: 0 auto 10px; } }
@media only screen and (max-width: 450px) { .footer .logo { float: none; display: block; position: static; margin: 0 auto 10px; } }
.footer .copy { text-align: right; line-height: 1; color: #5c5c5c; }
@media only screen and (max-width: 380px) { .footer .copy { float: none; display: block; text-align: center; } }
@media only screen and (max-width: 450px) { .footer .copy { float: none; display: block; text-align: center; } }
.footer .copy p { margin-bottom: 8px; }
.footer .copy .copy__privacy { color: #ffde00; font-weight: 800; }

.footer__item { padding: 5px 10px 36px; border-top: 5px solid #5299f4; }
@media only screen and (max-width: 380px) { .footer__item.footer__item_l { text-align: left; } }
@media only screen and (max-width: 600px) { .footer__item.footer__item_l { text-align: left; }
  .footer__item .btn.btn_blue { padding: 6px 12px; font-size: 14px; }
  .footer__item.footer__item_r { text-align: right; }
  .footer__item.footer__item_r .social { display: inline-block; }
  .footer__item.footer__item_r .social li { margin-left: 3px; }
  .footer__item.footer__item_r .social li:first-child { margin-left: 0; } }
@media only screen and (max-width: 600px) and (max-width: 380px) { .footer__item.footer__item_l { text-align: center; } }
@media only screen and (max-width: 600px) and (max-width: 450px) { .footer__item.footer__item_l { text-align: center; } }
@media only screen and (max-width: 600px) and (max-width: 380px) { .footer__item.footer__item_r { text-align: center; } }
@media only screen and (max-width: 600px) and (max-width: 450px) { .footer__item.footer__item_r { text-align: center; } }
@media only screen and (max-width: 767px) { .footer__item { text-align: center; }
  .footer__item .social { display: inline-block; }
  .footer__item .h2 { font-size: 16px; }
  .footer__item .btn.btn_blue { padding: 5px 7px; font-size: 16px; } }
@media (min-width: 768px) { .footer__item { text-align: center; }
  .footer__item .social { display: inline-block; }
  .footer__item .h2 { font-size: 18px; }
  .footer__item .btn.btn_blue { padding: 5px 7px; font-size: 16px; } }
@media (min-width: 992px) { .footer__item { text-align: left; }
  .footer__item .h2 { font-size: 20px; }
  .footer__item .btn.btn_blue { padding: 13px 32px; font-size: 18px; } }
.footer__item .h2 { margin: 20px 0; font-weight: 100; color: #434343; }
.footer__item .social { margin-top: 3px; }

.copyright { padding: 25px; border-top: 1px solid #cacaca; font-size: 12px; }

.logo { display: inline-block; background: url('../img/icons-see50a6780b.png') 0 -853px no-repeat; width: 116px; height: 62px; font: 0/0 a; text-shadow: none; color: transparent; }

/*------------------------- block ------------------------- */
.btn-wrap { margin-top: 24px; font-size: 0; text-align: right; }
@media only screen and (max-width: 767px) { .btn-wrap { margin-bottom: 10px; text-align: center; } }

.btn.btn_custum { width: 42px; padding: 8px 0px; margin-left: 7px; display: inline-block; text-align: center; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; color: white; }
.btn.btn_dark { background: #313131; }
.btn.btn_dark:hover, .btn.btn_dark:focus { color: white; text-decoration: none; }
.btn.btn_blue { padding: 13px 32px; border: 1px solid #7bb3cb; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background-color: #5199f3; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #78c8f9), color-stop(100%, #2d6bef)); background-image: -webkit-linear-gradient(#78c8f9, #2d6bef); background-image: -moz-linear-gradient(#78c8f9, #2d6bef); background-image: -o-linear-gradient(#78c8f9, #2d6bef); background-image: linear-gradient(#78c8f9, #2d6bef); color: white; font-size: 18px; font-weight: 800; text-shadow: 0 -1px 0 black; }
.btn.btn_blue:hover { color: white; }
.btn.btn_warning { padding: 13px 32px; border: 1px solid #eec10b; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background-color: #5199f3; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ed9e0a), color-stop(100%, #f9db1c)); background-image: -webkit-linear-gradient(#ed9e0a, #f9db1c); background-image: -moz-linear-gradient(#ed9e0a, #f9db1c); background-image: -o-linear-gradient(#ed9e0a, #f9db1c); background-image: linear-gradient(#ed9e0a, #f9db1c); color: white; font-size: 22px; font-weight: 800; text-shadow: 0 -1px 0 rgba(239, 168, 13, 0.75); }
.btn.btn_warning:hover { color: white; }
.btn.btn_warning:active { outline: 0; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9db1c), color-stop(100%, #ed9e0a)); background-image: -webkit-linear-gradient(#f9db1c, #ed9e0a); background-image: -moz-linear-gradient(#f9db1c, #ed9e0a); background-image: -o-linear-gradient(#f9db1c, #ed9e0a); background-image: linear-gradient(#f9db1c, #ed9e0a); -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.dropdown.dropdown_bl { display: inline-block; }
.dropdown.dropdown_bl .dropdown-menu { background: #313131; margin: -4px 0 0; right: 0px; left: initial; border: none; -webkit-border-radius: 3px 0 3px 3px; -moz-border-radius: 3px 0 3px 3px; -ms-border-radius: 3px 0 3px 3px; -o-border-radius: 3px 0 3px 3px; border-radius: 3px 0 3px 3px; }
.dropdown.dropdown_bl .dropdown-menu li { margin-top: 5px; }
.dropdown.dropdown_bl .dropdown-menu li:first-child { margin-top: 0; }
.dropdown.dropdown_bl .dropdown-menu li .ico { margin-right: 10px; }
.dropdown.dropdown_bl .dropdown-menu li a { color: white; text-align: left; }
.dropdown.dropdown_bl .dropdown-menu li a:hover { background: #444242; }
.dropdown.dropdown_bl .dropdown-menu_mod { min-width: 70px; }
.dropdown.open { -webkit-border-radius: 3px 3px 0px 3px; -moz-border-radius: 3px 3px 0px 3px; -ms-border-radius: 3px 3px 0px 3px; -o-border-radius: 3px 3px 0px 3px; border-radius: 3px 3px 0px 3px; }

.owners { margin-top: 5px; position: relative; font-size: 0; *zoom: 1; }
.owners:after { content: " "; display: table; clear: both; }
.owners:after { content: ""; width: 1px; height: 80px; background: #ececec; position: absolute; right: 0; top: 0; -webkit-box-shadow: 1px 0 0 #dddddd; -moz-box-shadow: 1px 0 0 #dddddd; box-shadow: 1px 0 0 #dddddd; }
@media only screen and (max-width: 380px) { .owners { margin-left: 0; } }
@media only screen and (max-width: 767px) { .owners { margin-left: -80px; margin-bottom: 10px; text-align: center; }
  .owners:after { content: none; } }
@media (min-width: 768px) { .owners:after { right: -6px; } }
@media (min-width: 992px) { .owners:after { right: 0; } }

.owners__media { width: 80px; height: 80px; overflow: hidden; display: inline-block; vertical-align: top; }
.owners__media img { max-width: 100%; }

.owners__link { display: inline-block; margin-left: 17px; font-size: 18px; color: #2a2a2a; font-weight: bold; vertical-align: top; }
.owners__link:hover { color: #2a2a2a; }
@media (min-width: 768px) { .owners__link { font-size: 14px; } }
@media (min-width: 992px) { .owners__link { font-size: 18px; } }

.owners__info { margin-left: 12px; display: inline-block; font-size: 12px; }

.owners_mod { margin-bottom: 12px; padding: 9px; background: #ebebeb; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
@media only screen and (max-width: 767px) { .owners_mod { margin-left: 0px; } }
.owners_mod:after { content: none; }
.owners_mod .owners__media { width: 80px; height: 67px; }
.owners_mod .owners__link { margin-left: 0; }

.owners_mod2 { padding: 9px; background: #ebebeb; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; -ms-border-radius: 4px 4px 0 0; -o-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; }
@media only screen and (max-width: 767px) { .owners_mod2 { margin-left: 0px; } }
.owners_mod2:after { content: none; }
.owners_mod2 .owners__media { width: 80px; height: 67px; }
.owners_mod2 .owners__link { margin-left: 0; }

.owners-tel { padding: 8px 0 15px; margin-bottom: 50px; background: #f6c918; border-top: 2px solid white; text-align: center; line-height: 1; color: white; -webkit-border-radius: 0px 0px 4px 4px; -moz-border-radius: 0px 0px 4px 4px; -ms-border-radius: 0px 0px 4px 4px; -o-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px; }
.owners-tel p { margin: 9px 0 0; }
.owners-tel strong { font-size: 16px; }

.another-mail { display: block; text-align: center; color: #f6c918; font-weight: bold; color: #f6c918; font-weight: bold; }
.another-mail:hover { color: #f6c918; }

.call { font-weight: bold; text-align: center; line-height: 1; position: relative; color: #434343; }
.call:after { content: ""; background: url('../img/icons-see50a6780b.png') 0 -1594px no-repeat; width: 19px; height: 79px; position: absolute; top: 5px; right: 0; }
@media only screen and (max-width: 767px) { .call { text-align: center; }
  .call:after { content: none; } }
@media (min-width: 768px) { .call { font-size: 14px; }
  .call:after { content: none; } }
@media (min-width: 992px) { .call { font-size: 18px; }
  .call:after { content: ""; } }

.call__num { font-weight: 800; }
@media (min-width: 768px) { .call__num { font-size: 18px; } }
@media (min-width: 992px) { .call__num { font-size: 24px; } }

.call__now { color: black; }

.call_mod { font-size: 16px; text-align: left; font-weight: normal; }
@media only screen and (max-width: 450px) { .call_mod { text-align: center; } }
@media only screen and (max-width: 380px) { .call_mod { text-align: center; } }
.call_mod strong { font-weight: 800; }
.call_mod:after { content: none; }

.send { font-weight: bold; color: black; text-align: center; }
@media (min-width: 768px) { .send { font-size: 14px; }
  .send .btn { padding: 5px 7px; font-size: 16px; } }
@media (min-width: 992px) { .send { font-size: 18px; }
  .send .btn { padding: 13px 32px; font-size: 18px; } }

.social { font-size: 0; overflow: hidden; }
.social .ico { -webkit-transition: 0.2s; -moz-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; }
.social .ico:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; -webkit-transition: 0.2s; -moz-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; }
.social li { margin-left: 9px; float: left; overflow: hidden; }
.social li:first-child { margin-left: 0; }
.social .fb { background: url('../img/icons-see50a6780b.png') 0 -925px no-repeat; width: 32px; height: 32px; }
.social .tw { background: url('../img/icons-see50a6780b.png') 0 -967px no-repeat; width: 32px; height: 32px; }
.social .pt { background: url('../img/icons-see50a6780b.png') 0 -1330px no-repeat; width: 32px; height: 32px; }

.translate { height: 26px; line-height: 26px; display: inline-block; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: #efefef; border: 1px solid #969696; color: #434343; font-weight: bold; padding: 0px 20px 0px 32px; position: relative; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.translate:before { content: ""; background: url('../img/icons-see50a6780b.png') 0 -1296px no-repeat; width: 24px; height: 24px; position: absolute; left: 0; top: 0; }
.translate:hover { text-decoration: none; color: #434343; }

.widget1 { min-height: 209px; }
.widget1 p { margin-bottom: 20px; }

@media only screen and (max-width: 500px) { .widget1_mob-hide { display: none; } }

.widget2 { min-height: 771px; }

.more { color: #ffc000; font-weight: 800; }
.more:hover { color: #ffc000; text-decoration: underline; }

.description__top { margin-bottom: 10px; overflow: hidden; }

.description__rating p { margin-bottom: 5px; }

.description__hide { display: none; }

.about__item { margin-top: 25px; }
.about__item p { line-height: 1; }

.my-label { margin-bottom: 10px; position: relative; }

.input-group { width: 100%; }

.my-label_m { position: relative; }

.calendar-wrap { position: static !important; }

.input-group_mod-list { width: 100%; }
.input-group_mod-list input { border-color: #949494; border-bottom-left-radius: 4px !important; border-top-left-radius: 4px !important; font-size: 14px; font-weight: 400; color: #919191; }
.input-group_mod-list input:-ms-input-placeholder { font-size: 14px; color: #919191; font-weight: 400; }
.input-group_mod-list input:-moz-placeholder { font-size: 14px; color: #919191; font-weight: 400; }
.input-group_mod-list input::-moz-placeholder { font-size: 14px; color: #919191; font-weight: 400; }
.input-group_mod-list input::-webkit-input-placeholder { font-size: 14px; color: #919191; font-weight: 400; }
.input-group_mod-list input::placeholder { font-size: 14px; color: #919191; font-weight: 400; }
.input-group_mod-list .arr { background: url('../img/icons-see50a6780b.png') 0 -1815px no-repeat; width: 18px; height: 11px; }
.input-group_mod-list .input-group-btn { position: static; }
.input-group_mod-list .input-group-btn .btn { background: #949494; }
.input-group_mod-list .input-group-btn.open .btn { background: #5299f5; }
.input-group_mod-list .input-group-btn.open .arr { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
.input-group_mod-list .input-group-btn .dropdown-menu { margin: 0; left: 0; border-color: #b9b9b9; }
.input-group_mod-list .input-group-btn .dropdown-menu li a { white-space: normal; }
.input-group_mod-list .input-group-btn .dropdown-menu li a:hover { background: #5299f5; color: white; }

.has-warning .form-control { border-color: #454545; color: #454545; }
.has-warning .form-control:-ms-input-placeholder { color: #454545; }
.has-warning .form-control:-moz-placeholder { color: #454545; }
.has-warning .form-control::-moz-placeholder { color: #454545; }
.has-warning .form-control::-webkit-input-placeholder { color: #454545; }
.has-warning .form-control::placeholder { color: #454545; }

.has-error .form-control { border-color: #a50000; color: #a50000; }
.has-error .form-control:-ms-input-placeholder { color: #a50000; }
.has-error .form-control:-moz-placeholder { color: #a50000; }
.has-error .form-control::-moz-placeholder { color: #a50000; }
.has-error .form-control::-webkit-input-placeholder { color: #a50000; }
.has-error .form-control::placeholder { color: #a50000; }

.input-group_mod { width: 100%; }
.input-group_mod input { border-color: #949494; border-bottom-left-radius: 4px !important; border-top-left-radius: 4px !important; border-top-right-radius: 4px !important; border-bottom-right-radius: 4px !important; font-size: 14px; font-weight: 400; color: #919191; }
.input-group_mod input:-ms-input-placeholder { font-size: 14px; color: #919191; font-weight: 400; }
.input-group_mod input:-moz-placeholder { font-size: 14px; color: #919191; font-weight: 400; }
.input-group_mod input::-moz-placeholder { font-size: 14px; color: #919191; font-weight: 400; }
.input-group_mod input::-webkit-input-placeholder { font-size: 14px; color: #919191; font-weight: 400; }
.input-group_mod input::placeholder { font-size: 14px; color: #919191; font-weight: 400; }
.input-group_mod .input-group-addon_mod { background: #949494; border-color: #949494; color: white; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; -ms-border-radius: 4px 0 0 4px; -o-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; }

.input-group-addon { -webkit-transition: ease-in-out 0.15s; -moz-transition: ease-in-out 0.15s; -o-transition: ease-in-out 0.15s; transition: ease-in-out 0.15s; }
.input-group-addon.input-group-addon_cal { width: 44px; background: #949494; border-color: #949494; padding: 6px 12px; position: relative; }
.input-group-addon.input-group-addon_cal:before { content: ""; background: url('../img/icons-see50a6780b.png') 0 -1748px no-repeat; width: 21px; height: 21px; position: absolute; margin-top: -10px; top: 50%; margin-left: -10px; left: 50%; }
.input-group-addon:last-child { border-left: 1px solid transparent !important; }

.input-group_mod2 input { border-bottom-left-radius: 0px !important; border-top-left-radius: 0px !important; border-top-right-radius: 4px !important; border-bottom-right-radius: 4px !important; }

.input-group_mini .dropdown-menu { min-width: initial; right: 0; }

.input-group_50 input { border-color: #949494; }
.input-group_50:hover input { border-color: #ffc000; border-right-color: transparent; }
.input-group_50:hover input:-ms-input-placeholder { color: #434343; }
.input-group_50:hover input:-moz-placeholder { color: #434343; }
.input-group_50:hover input::-moz-placeholder { color: #434343; }
.input-group_50:hover input::-webkit-input-placeholder { color: #434343; }
.input-group_50:hover input::placeholder { color: #434343; }
.input-group_50:hover .input-group-addon { background-color: #ffc000; border: 1px solid #ffc000; -webkit-transition: ease-in-out 0.15s; -moz-transition: ease-in-out 0.15s; -o-transition: ease-in-out 0.15s; transition: ease-in-out 0.15s; }

.js-calendar-active.is-active input { border-color: #ffc000; border-right-color: transparent; }
.js-calendar-active.is-active input:-ms-input-placeholder { color: #434343; }
.js-calendar-active.is-active input:-moz-placeholder { color: #434343; }
.js-calendar-active.is-active input::-moz-placeholder { color: #434343; }
.js-calendar-active.is-active input::-webkit-input-placeholder { color: #434343; }
.js-calendar-active.is-active input::placeholder { color: #434343; }
.js-calendar-active.is-active .input-group-addon { background-color: #ffc000; border: 1px solid #ffc000; -webkit-transition: ease-in-out 0.15s; -moz-transition: ease-in-out 0.15s; -o-transition: ease-in-out 0.15s; transition: ease-in-out 0.15s; }

.hover-blue:hover input { border-color: #5299f4; }
.hover-blue:hover input:-ms-input-placeholder { color: #434343; }
.hover-blue:hover input:-moz-placeholder { color: #434343; }
.hover-blue:hover input::-moz-placeholder { color: #434343; }
.hover-blue:hover input::-webkit-input-placeholder { color: #434343; }
.hover-blue:hover input::placeholder { color: #434343; }
.hover-blue:hover .btn-default, .hover-blue:hover .input-group-addon { background: #5299f4; border-color: #5299f4; }

textarea.form-control { resize: vertical; font-weight: 400; color: #919191; border-color: #949494; }

.form-control { font-weight: 400; border-color: #949494; }

.map__item { height: 392px; margin-bottom: 15px; }

.map__meta { margin-bottom: 5px; *zoom: 1; }
.map__meta:after { content: " "; display: table; clear: both; }

.map__descr { margin: 10px 0 0; }

.calendar { position: relative; }

.calendar__meta { margin-bottom: 50px; *zoom: 1; }
.calendar__meta:after { content: " "; display: table; clear: both; }

.calendar__switch { margin-bottom: 10px; clear: both; overflow: hidden; }
.calendar__switch .calendar__switch-left { float: left; cursor: pointer; }
.calendar__switch .calendar__switch-left .ico { background: url('../img/icons-see50a6780b.png') 0 -1009px no-repeat; width: 30px; height: 32px; margin-right: 10px; }
.calendar__switch .calendar__switch-right { float: right; cursor: pointer; }
.calendar__switch .calendar__switch-right .ico { background: url('../img/icons-see50a6780b.png') 0 -1094px no-repeat; width: 30px; height: 32px; margin-left: 10px; }

/*-------------------------  datepicker ------------------------- */
@media only screen and (max-width: 500px) { .datepicker .ui-datepicker-group:nth-child(3) { display: none; }
  .datepicker .ui-datepicker-group:nth-child(4) { display: none; }
  .datepicker .ui-datepicker-group:nth-child(5) { display: none; }
  .datepicker .ui-datepicker-group:nth-child(6) { display: none; }
  .datepicker .ui-datepicker-group:nth-child(7) { display: none; }
  .datepicker .ui-datepicker-group:nth-child(8) { display: none; } }
@media only screen and (max-width: 450px) { .datepicker .ui-datepicker-group:nth-child(3) { display: none; }
  .datepicker .ui-datepicker-group:nth-child(4) { display: none; }
  .datepicker .ui-datepicker-group:nth-child(5) { display: none; }
  .datepicker .ui-datepicker-group:nth-child(6) { display: none; }
  .datepicker .ui-datepicker-group:nth-child(7) { display: none; }
  .datepicker .ui-datepicker-group:nth-child(8) { display: none; } }
@media only screen and (max-width: 380px) { .datepicker .ui-datepicker-group:nth-child(3) { display: none; }
  .datepicker .ui-datepicker-group:nth-child(4) { display: none; }
  .datepicker .ui-datepicker-group:nth-child(5) { display: none; }
  .datepicker .ui-datepicker-group:nth-child(6) { display: none; }
  .datepicker .ui-datepicker-group:nth-child(7) { display: none; }
  .datepicker .ui-datepicker-group:nth-child(8) { display: none; } }
@media only screen and (max-width: 767px) { .datepicker .ui-datepicker-group:nth-child(8) { display: none; }
  .datepicker .ui-datepicker-group:nth-child(7) { display: none; } }
@media (min-width: 768px) { .datepicker .ui-datepicker-group:nth-child(8) { display: none; }
  .datepicker .ui-datepicker-group:nth-child(7) { display: none; } }
@media (min-width: 992px) { .datepicker .ui-datepicker-group:nth-child(8) { display: block; }
  .datepicker .ui-datepicker-group:nth-child(7) { display: block; } }

.calendar__cont { width: 100%; }
.calendar__cont .ui-datepicker th { background: #f3f3f3; padding: 0.3em; border-right: 2px solid white; border-bottom: 1px solid white; }
.calendar__cont .ui-datepicker.ui-datepicker-multi { width: 100% !important; }
.calendar__cont .ui-datepicker.ui-datepicker-multi .ui-datepicker-group table { width: 100%; margin: 0; }
.calendar__cont .ui-datepicker-group { margin-bottom: 40px; }

.ui-datepicker-multi-2 .ui-datepicker-group { width: 48%; }
@media only screen and (max-width: 600px) { .ui-datepicker-multi-2 .ui-datepicker-group { width: 100%; } }
.ui-datepicker-multi-2 .ui-datepicker-group.ui-datepicker-group-first { margin-right: 4%; }
@media only screen and (max-width: 600px) { .ui-datepicker-multi-2 .ui-datepicker-group.ui-datepicker-group-first { margin-right: 0; } }

@media only screen and (max-width: 767px) { .ui-datepicker { width: 400px !important; } }
@media only screen and (max-width: 600px) { .ui-datepicker { width: 300px !important; } }

.ui-datepicker { padding: 0; cursor: pointer; border: none; }
.ui-datepicker .ui-datepicker-current { display: none; }
.ui-datepicker span.ui-icon { display: none; border: none; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { width: 30px; height: 32px; border: 1px solid #7bb3cb; background-color: #5199f3; position: absolute; top: 18px; padding: 0 5px; cursor: pointer; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #78c8f9), color-stop(100%, #2d6bef)); background-image: -webkit-linear-gradient(#78c8f9, #2d6bef); background-image: -moz-linear-gradient(#78c8f9, #2d6bef); background-image: -o-linear-gradient(#78c8f9, #2d6bef); background-image: linear-gradient(#78c8f9, #2d6bef); -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.ui-datepicker .ui-datepicker-prev:before, .ui-datepicker .ui-datepicker-next:before { content: ""; position: absolute; top: 6px; }
.ui-datepicker .ui-datepicker-prev { left: 26px; }
.ui-datepicker .ui-datepicker-prev:before { background: url('../img/icons-see50a6780b.png') 0 -1565px no-repeat; width: 10px; height: 19px; left: 9px; }
.ui-datepicker .ui-datepicker-next { right: 26px; }
.ui-datepicker .ui-datepicker-next:before { background: url('../img/icons-see50a6780b.png') 0 -1683px no-repeat; width: 10px; height: 19px; left: 10px; }
.ui-datepicker .ui-datepicker-prev { top: 60px; left: 25px; }
.ui-datepicker .ui-datepicker-prev:hover:after { text-decoration: none; color: black; }
.ui-datepicker .ui-datepicker-prev:after { content: "Previous"; font-size: 14px; color: black; text-decoration: none; position: absolute; left: 40px; top: 7px; font-weight: normal; }
.ui-datepicker .ui-datepicker-next { top: 60px; right: 25px; }
.ui-datepicker .ui-datepicker-next:hover:after { text-decoration: none; color: black; }
.ui-datepicker .ui-datepicker-next:after { content: "Next"; font-size: 14px; color: black; text-decoration: none; position: absolute; left: -40px; top: 7px; font-weight: normal; }
.ui-datepicker .ui-widget-header { padding: 1px 0; background: #5299f4; border: none; -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -ms-border-radius: 3px 3px 0 0; -o-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; position: static; }
.ui-datepicker .ui-datepicker-year { font-weight: 900; font-size: 14px; }
.ui-datepicker .ui-state-default { border: none; background: #f3f3f3; color: #464646; font-size: 14px; font-weight: normal; text-align: center; }
.ui-datepicker .ui-state-active { background: #f3f3f3; }

.ui-state-unavailable a { background: #f8b8b8 !important; }

.ui-state-special a { font-weight: bold !important; }

.ui-widget-content { background: white; border: none; }

.ui-datepicker-calendar { table-layout: fixed; }

.calendar__description { *zoom: 1; }
.calendar__description:after { content: " "; display: table; clear: both; }
.calendar__description li { margin-right: 20px; float: left; position: relative; }
@media only screen and (max-width: 500px) { .calendar__description li { margin-bottom: 10px; } }
.calendar__description li .ico { width: 31px; height: 31px; line-height: 31px; margin-right: 10px; font-size: 14px; color: #313131; display: inline-block; text-align: center; font-style: normal; }
.calendar__description li.calendar__available .ico { background: #f3f3f3; border: 1px solid #a4a4a4; }
.calendar__description li.calendar__unavailable .ico { background: #ffbfbf; border: 1px solid gainsboro; }
.calendar__description li.calendar__special { font-weight: bold; margin-right: 0; }
.calendar__description li.calendar__special .ico { background: #f3f3f3; border: 1px solid #a4a4a4; font-weight: normal; }

.calendar__description_mod { text-align: center; }
.calendar__description_mod li { float: none; display: inline-block; }
@media only screen and (max-width: 600px) { .calendar__description_mod li { display: block; } }

.placeing__meta { margin-bottom: 10px; *zoom: 1; }
.placeing__meta:after { content: " "; display: table; clear: both; }

.placeing__descr { margin: 5px 0 0; }

.table { margin-bottom: 20px; }
.table thead th { padding: 6px 15px; background: #5299f4; color: white; text-align: center; }
.table thead .table__label-first { -webkit-border-radius: 4px 0px 0 0; -moz-border-radius: 4px 0px 0 0; -ms-border-radius: 4px 0px 0 0; -o-border-radius: 4px 0px 0 0; border-radius: 4px 0px 0 0; }
.table thead .table__label-last { -webkit-border-radius: 0px 4px 0 0; -moz-border-radius: 0px 4px 0 0; -ms-border-radius: 0px 4px 0 0; -o-border-radius: 0px 4px 0 0; border-radius: 0px 4px 0 0; }
.table tbody tr:nth-child(2n) td { background: #e5e5e5; }
.table tbody td { padding: 7px 15px; background: #f3f3f3; border-left: 1px solid white; border-bottom: 1px solid white; text-align: center; font-size: 12px; }
.table tbody td:first-child { border-left: none; }
@media only screen and (max-width: 380px) { .table .table__hide-mobile { display: none; } }
@media only screen and (max-width: 450px) { .table .table__hide-mobile { display: none; } }
@media only screen and (max-width: 500px) { .table .table__hide-mobile { display: none; } }

.slider { padding: 30px 65px 0; position: relative; }
@media only screen and (max-width: 380px) { .slider { padding: 75px 0 0; } }
@media only screen and (max-width: 450px) { .slider { padding: 75px 0 0; } }
.slider .h2 { padding: 0 15px; }

.slider__switch-left, .slider__switch-right { width: 40px; height: 43px; border: 1px solid #7bb3cb; background-color: #5199f3; position: absolute; top: 50%; margin-top: -21px; padding: 0 5px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #78c8f9), color-stop(100%, #2d6bef)); background-image: -webkit-linear-gradient(#78c8f9, #2d6bef); background-image: -moz-linear-gradient(#78c8f9, #2d6bef); background-image: -o-linear-gradient(#78c8f9, #2d6bef); background-image: linear-gradient(#78c8f9, #2d6bef); -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; cursor: pointer; }
@media only screen and (max-width: 380px) { .slider__switch-left, .slider__switch-right { top: 40px; } }
@media only screen and (max-width: 450px) { .slider__switch-left, .slider__switch-right { top: 40px; } }
.slider__switch-left:before, .slider__switch-right:before { content: ""; position: absolute; top: 12px; }

.slider__switch-left { left: 20px; }
@media only screen and (max-width: 380px) { .slider__switch-left { left: 10px; } }
@media only screen and (max-width: 450px) { .slider__switch-left { left: 10px; } }
.slider__switch-left:before { background: url('../img/icons-see50a6780b.png') 0 -1565px no-repeat; width: 10px; height: 19px; left: 13px; }
.slider__switch-left .ico { left: 20px; }
@media only screen and (max-width: 380px) { .slider__switch-left .ico { left: 10px; } }
@media only screen and (max-width: 450px) { .slider__switch-left .ico { left: 10px; } }

.slider__switch-right { right: 20px; }
.slider__switch-right:before { right: 13px; background: url('../img/icons-see50a6780b.png') 0 -1683px no-repeat; width: 10px; height: 19px; }
.slider__switch-right .ico { right: 20px; }
@media only screen and (max-width: 380px) { .slider__switch-right .ico { right: 10px; } }
@media only screen and (max-width: 450px) { .slider__switch-right .ico { right: 10px; } }

.slider__item { width: 100%; padding-bottom: 50px; overflow: hidden; white-space: normal; vertical-align: top; }
@media only screen and (max-width: 767px) { .slider__item .col-md-4:nth-child(2) { display: none; }
  .slider__item .col-md-4:nth-child(3) { display: none; } }
@media (min-width: 768px) { .slider__item .col-md-4:nth-child(2) { display: none; }
  .slider__item .col-md-4:nth-child(3) { display: none; } }
@media (min-width: 992px) { .slider__item .col-md-4:nth-child(2) { display: block; }
  .slider__item .col-md-4:nth-child(3) { display: block; } }

@media only screen and (max-width: 767px) { .slider__item-in { margin-bottom: 15px; } }
@media (min-width: 768px) { .slider__item-in { margin-bottom: 15px; } }
@media (min-width: 992px) { .slider__item-in { margin-bottom: 0px; } }

.slider__meta { margin: 0; }

.slider__rate { margin: 0 0 5px; }

.slider__pager { margin: 0 -65px; border-top: 1px solid #e9e8e6; padding: 15px 0; text-align: center; }
@media only screen and (max-width: 450px) { .slider__pager { margin: 0; } }
@media only screen and (max-width: 380px) { .slider__pager { margin: 0; } }
.slider__pager span { width: 12px; height: 12px; margin-right: 5px; display: inline-block; background: #c7c5be; border: 1px solid transparent; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; font-size: 0; cursor: pointer; }
.slider__pager span.cycle-pager-active { background: white; border: 1px solid #c7c5be; }

.check { padding-right: 7px; padding-left: 0; }

.building__gallery { position: relative; }

.building__photo { *zoom: 1; }
.building__photo:after { content: " "; display: table; clear: both; }
.building__photo .building__media { padding-left: 15px; text-align: center; height: 403px; overflow: hidden; }
@media only screen and (max-width: 500px) { .building__photo .building__media { height: auto; padding-right: 8px; } }
@media only screen and (max-width: 450px) { .building__photo .building__media { height: auto; padding-right: 8px; } }
@media only screen and (max-width: 380px) { .building__photo .building__media { height: auto; padding-right: 8px; } }
@media only screen and (max-width: 600px) { .building__photo .building__media { height: auto; padding-right: 8px; } }
@media only screen and (max-width: 767px) { .building__photo .building__media { height: auto; padding-right: 8px; } }
@media (min-width: 768px) { .building__photo .building__media { height: 403px; padding-right: 8px; } }
@media (min-width: 992px) { .building__photo .building__media { height: 403px; padding-right: 0; } }
.building__photo .building__media img { vertical-align: middle; text-align: center; width: 100%; display: block; }

.building__thumbs { margin-top: 14px; position: relative; *zoom: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: center; }
.building__thumbs:after { content: " "; display: table; clear: both; }
.building__thumbs .caro { width: 80%; height: 85px; margin: 0 auto; overflow: hidden; position: relative; }
@media (min-width: 992px) { .building__thumbs .caro { width: 75%; } }
@media (min-width: 768px) { .building__thumbs .caro { width: 75%; } }
@media only screen and (max-width: 767px) { .building__thumbs .caro { width: 75%; } }
@media only screen and (max-width: 600px) { .building__thumbs .caro { width: 70%; } }
@media only screen and (max-width: 380px) { .building__thumbs .caro { width: 60%; } }
@media only screen and (max-width: 450px) { .building__thumbs .caro { width: 60%; } }
@media only screen and (max-width: 500px) { .building__thumbs .caro { width: 50%; } }
.building__thumbs ul { margin: 0; position: absolute; top: 20px; width: 20000em; list-style: none; }
.building__thumbs ul li { width: 55px; height: 45px; margin-right: 15px; float: left; cursor: pointer; border: 2px solid transparent; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.building__thumbs ul li:hover { border-color: white; background-color: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=55); opacity: 0.55; }
.building__thumbs ul li.active { border: 2px solid black; }
.building__thumbs ul li img { width: 100%; height: 100%; vertical-align: middle; }

.slide__arrow-prev, .slide__arrow-next { width: 40px; height: 46px; border: 1px solid #7bb3cb; background-color: #5199f3; position: absolute; top: 18px; left: 26px; padding: 0 5px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #78c8f9), color-stop(100%, #2d6bef)); background-image: -webkit-linear-gradient(#78c8f9, #2d6bef); background-image: -moz-linear-gradient(#78c8f9, #2d6bef); background-image: -o-linear-gradient(#78c8f9, #2d6bef); background-image: linear-gradient(#78c8f9, #2d6bef); -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; cursor: pointer; }
.slide__arrow-prev.disabled, .slide__arrow-next.disabled { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.slide__arrow-prev:before, .slide__arrow-next:before { content: ""; position: absolute; top: 14px; left: 13px; }

.slide__arrow-prev:before { background: url('../img/icons-see50a6780b.png') 0 -1565px no-repeat; width: 10px; height: 19px; }

.slide__arrow-next { position: absolute; left: auto; right: 11px; }
@media only screen and (max-width: 767px) { .slide__arrow-next { right: 19px; } }
@media (min-width: 768px) { .slide__arrow-next { right: 19px; } }
@media (min-width: 992px) { .slide__arrow-next { right: 11px; } }
.slide__arrow-next:before { background: url('../img/icons-see50a6780b.png') 0 -1683px no-repeat; width: 10px; height: 19px; left: 15px; }

.check__map { height: 212px; }
@media only screen and (max-width: 500px) { .check__map { margin-left: 15px; } }
@media only screen and (max-width: 450px) { .check__map { margin-left: 15px; } }
@media only screen and (max-width: 380px) { .check__map { margin-left: 15px; } }
@media only screen and (max-width: 600px) { .check__map { margin-left: 15px; } }
@media only screen and (max-width: 767px) { .check__map { margin-left: 15px; } }
@media (min-width: 768px) { .check__map { padding-left: 15px; } }
@media (min-width: 992px) { .check__map { padding-left: 0; margin-left: 0; } }
.check__map img { width: 100%; }

.check__availability { padding: 20px 30px 27px; border-top: 5px solid #5299f4; background-color: #5199f3; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #78c8f9), color-stop(100%, #1e59ed)); background-image: -webkit-linear-gradient(#78c8f9, #1e59ed); background-image: -moz-linear-gradient(#78c8f9, #1e59ed); background-image: -o-linear-gradient(#78c8f9, #1e59ed); background-image: linear-gradient(#78c8f9, #1e59ed); }
@media only screen and (max-width: 500px) { .check__availability { margin-left: 15px; } }
@media only screen and (max-width: 450px) { .check__availability { margin-left: 15px; } }
@media only screen and (max-width: 380px) { .check__availability { margin-left: 15px; } }
@media only screen and (max-width: 600px) { .check__availability { margin-left: 15px; } }
@media only screen and (max-width: 767px) { .check__availability { margin-left: 15px; } }
@media (min-width: 768px) { .check__availability { margin-left: 15px; } }
@media (min-width: 992px) { .check__availability { margin-left: 0; } }
.check__availability .h2 { margin: 0; font-weight: 900; font-size: 30px; color: white; }
.check__availability .check__availability-note { font-weight: 900; color: #ffc000; }
.check__availability .check__availability-note a { font-weight: 900; color: #ffc000; }
.check__availability .check__availability-price { margin: 0 0 15px; color: white; }
.check__availability .input-group_50 .form-control { padding: 6px 7px; }

.check__send { padding: 30px 30px 19px; background: #5299f4; }
@media only screen and (max-width: 500px) { .check__send { margin-left: 15px; } }
@media only screen and (max-width: 450px) { .check__send { margin-left: 15px; } }
@media only screen and (max-width: 380px) { .check__send { margin-left: 15px; } }
@media only screen and (max-width: 600px) { .check__send { margin-left: 15px; } }
@media only screen and (max-width: 767px) { .check__send { margin-left: 15px; } }
@media (min-width: 768px) { .check__send { margin-left: 15px; } }
@media (min-width: 992px) { .check__send { margin-left: 0; } }

.sent-email { display: none; }
.sent-email.is-active { display: block; }

.sent-email__title { font-weight: bold; }

.ui-firstdate a { background: url(../img/icons/table-first.png) 0px 0px no-repeat !important; background-repeat: no-repeat !important; background-size: cover !important; background-position: 50% 50% !important; }

.ui-lasttdate a { background: url(../img/icons/table-last.png) 0px 0px no-repeat !important; background-repeat: no-repeat !important; background-size: cover !important; background-position: 50% 50% !important; }

.next { width: 30px; height: 30px; background: red; position: absolute; top: 30px; left: 50px; }

.prev { width: 30px; height: 30px; background: red; position: absolute; top: 30px; right: 50px; }

.wrap-date__in .dp1-wrap { left: -50%; }
@media only screen and (max-width: 767px) { .wrap-date__in .dp1-wrap { left: -15px; } }
@media (min-width: 768px) { .wrap-date__in .dp1-wrap { left: -15px; } }
@media (min-width: 992px) { .wrap-date__in .dp1-wrap { left: -473px; } }
.wrap-date__in .dp2-wrap { right: -50%; margin-right: 15px; }
@media only screen and (max-width: 767px) { .wrap-date__in .dp2-wrap { margin-right: -15px; right: 0; } }
@media (min-width: 768px) { .wrap-date__in .dp2-wrap { margin-right: 14px; right: 0; } }
@media (min-width: 992px) { .wrap-date__in .dp2-wrap { margin-right: 15px; } }
.wrap-date__in .dp3-wrap { left: -50%; }
@media only screen and (max-width: 767px) { .wrap-date__in .dp3-wrap { left: -15px; } }
@media (min-width: 768px) { .wrap-date__in .dp3-wrap { left: -15px; } }
@media (min-width: 992px) { .wrap-date__in .dp3-wrap { left: -473px; } }

.dp1, .dp2, .dp3, .dp4 { display: none; position: relative; z-index: 777; }

.dp1__in, .dp2__in, .dp3__in, .dp4__in { margin-top: 40px; }

.dp1-wrap { display: none; padding: 15px 55px 10px; border: 1px solid #b3bac4; background: white; position: absolute; z-index: 666; }
.dp1-wrap .ui-datepicker .ui-datepicker-prev { top: -1px; left: -42px; }
.dp1-wrap .ui-datepicker .ui-datepicker-prev:after { content: none; }
.dp1-wrap .ui-datepicker .ui-datepicker-next { top: 0; right: -42px; }
.dp1-wrap .ui-datepicker .ui-datepicker-next:after { content: none; }

.dp2-wrap { display: none; padding: 15px 55px 10px; border: 1px solid #b3bac4; background: white; position: absolute; z-index: 666; }
.dp2-wrap .ui-datepicker .ui-datepicker-prev { top: -1px; left: -42px; }
.dp2-wrap .ui-datepicker .ui-datepicker-prev:after { content: none; }
.dp2-wrap .ui-datepicker .ui-datepicker-next { top: 0; right: -42px; }
.dp2-wrap .ui-datepicker .ui-datepicker-next:after { content: none; }

@media only screen and (max-width: 600px) { .dp3 .ui-datepicker { width: 100% !important; } }

.dp3-wrap { display: none; padding: 15px 55px 10px; border: 1px solid #b3bac4; background: white; position: absolute; z-index: 666; right: 0; }
@media only screen and (max-width: 500px) { .dp3-wrap { left: 0; right: 0; } }
@media only screen and (max-width: 450px) { .dp3-wrap { left: 0; right: 0; } }
@media only screen and (max-width: 380px) { .dp3-wrap { left: 0; right: 0; } }
@media only screen and (max-width: 600px) { .dp3-wrap { left: 0; right: 0; } }
@media only screen and (max-width: 767px) { .dp3-wrap { right: 0; } }
@media (min-width: 768px) { .dp3-wrap { right: 0; } }
@media (min-width: 992px) { .dp3-wrap { right: 0; } }
.dp3-wrap .ui-datepicker .ui-datepicker-prev { top: -1px; left: -42px; }
.dp3-wrap .ui-datepicker .ui-datepicker-prev:after { content: none; }
.dp3-wrap .ui-datepicker .ui-datepicker-next { top: 0; right: -42px; }
.dp3-wrap .ui-datepicker .ui-datepicker-next:after { content: none; }

.dp4-wrap { display: none; padding: 15px 55px 10px; border: 1px solid #b3bac4; background: white; position: absolute; z-index: 666; right: -100%; margin-right: 185px; }
@media only screen and (max-width: 767px) { .dp4-wrap { right: 0; margin-right: -10px; } }
.dp4-wrap .ui-datepicker .ui-datepicker-prev { top: -1px; left: -42px; }
.dp4-wrap .ui-datepicker .ui-datepicker-prev:after { content: none; }
.dp4-wrap .ui-datepicker .ui-datepicker-next { top: 0; right: -42px; }
.dp4-wrap .ui-datepicker .ui-datepicker-next:after { content: none; }

.calendar-i { position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 333; }

.ico { display: inline-block; vertical-align: middle; }

.i-eng { background: url('../img/icons-see50a6780b.png') 0 -1544px no-repeat; width: 16px; height: 11px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
